### 코드 작성자: 한대룡
### 기능: 크롤링한 데이터를 전처리하고, 이미지 추출하여 다운받는 기능

## Preprocess

In [64]:
import pandas as pd
import os
import warnings
warnings.filterwarnings(action='ignore')
import urllib.request

## Alexander

In [88]:
def alexander_preprocess(dat, Country, Category, Gender):
    
    dat["pcode"] = ''
    dat["pname"] = ''
    dat['brand'] = ''
    dat["color"] = ''
    dat["price"] = 0

    for i in range(0,len(dat)):
        spt = dat["Product"][i].split(",")
        
        pcode = spt[1]
        pcode = pcode.replace('"product_cod10":','',1)
        pcode = pcode[1:(len(pcode)-1)]

        pname = spt[2]
        pname = pname.replace('"product_title":','',1)
        pname = pname[1:(len(pname)-1)]

        brand = spt[3]
        brand = brand.replace('"product_brand":','',1)
        brand = brand[1:(len(brand)-1)]

        color = spt[9]
        color = color.replace('"product_color":','',1)
        color = color[1:(len(color)-1)]

        price = spt[11]
        price = price.replace('"product_price":','',1)
                
        dat["pcode"][i] = pcode
        dat["pname"][i] = pname
        dat["brand"][i] = brand
        dat["color"][i] = color
        dat["price"][i] = price
        
    dat = dat.drop(['Product'], 1)

    dat["Category"] = Category
    dat["Country"] = Country
    dat["Gender"] = Gender
        
    return(dat)

In [89]:
dat = pd.read_csv('database/alexandermcqueen/JP/female_shoes.csv')
dat = dat.drop(['Unnamed: 0'], 1)

preprocess = alexander_preprocess(dat, "JP", "Shoes", "Female")

In [73]:
preprocess.to_csv("database/final/alex_JP_female_shoes.csv", index=False)

KR_result.to_csv("final/Alex_KR_result.csv", index=False, encoding="ms949")

## Valentino

In [38]:
def valentino_preprocess(dat, Country, Category, Gender):
    
    dat["pcode"] = ''
    dat["pname"] = ''
    dat['brand'] = ''
    dat["color"] = ''
    dat["price"] = 0

    for i in range(0,len(dat)):
        spt = dat["Product"][i].split(",")
        
        if(len(spt)==26):
            pcode = spt[14]
            pname = spt[1]
            brand = spt[2]
            color = spt[9]
            price = spt[11]
        else:
            pcode = spt[15]
            pname = spt[1]
            brand = spt[2]
            color = spt[10]
            price = spt[12]
            
        

        pcode = pcode.replace('"product_id":','',1)
        pcode = pcode[1:(len(pcode)-1)]
       
        pname = pname.replace('"product_title":','',1)
        pname = pname[1:(len(pname)-1)]

        brand = brand.replace('"product_brand":','',1)
        brand = brand[1:(len(brand)-1)]

        color = color.replace('"product_color":','',1)
        color = color[1:(len(color)-1)]

        price = price.replace('"product_discountedPrice":','',1)
                
        dat["pcode"][i] = pcode
        dat["pname"][i] = pname
        dat["brand"][i] = brand
        dat["color"][i] = color
        dat["price"][i] = price
        
        
    
    dat = dat.drop(['Product'], 1)
    dat["Category"] = Category
    dat["Country"] = Country
    dat["Gender"] = Gender
        
    return(dat)

In [57]:
dat = pd.read_csv('database/valentino/JP/female_shoes.csv')
dat = dat.drop(['Unnamed: 0'], 1)

preprocess = valentino_preprocess(dat, "JP", "Shoes", "Female")

In [58]:
preprocess.to_csv("database/final/valen_JP_female_shoes.csv", index=False)

## Balenciaga

In [133]:
def balenciaga_preprocess(dat, Country, Category, Gender):
        
    dat["pcode"] = ''
    dat["pname"] = ''
    dat['brand'] = ''
    dat["color"] = ''
    dat["price"] = 0

    for i in range(0,len(dat)):
        spt = dat["Product"][i].split(",")
        
        pcode = spt[1]
        pcode = pcode.replace('"product_cod10":','',1)
        pcode = pcode[1:(len(pcode)-1)]

        pname = spt[2]
        pname = pname.replace('"product_title":','',1)
        pname = pname[1:(len(pname)-1)]

        brand = spt[3]
        brand = brand.replace('"product_brand":','',1)
        brand = brand[1:(len(brand)-1)]

        color = spt[9]
        color = color.replace('"product_color":','',1)
        color = color[1:(len(color)-1)]

        price = spt[11]
        price = price.replace('"product_price":','',1)
                
        dat["pcode"][i] = pcode
        dat["pname"][i] = pname
        dat["brand"][i] = brand
        dat["color"][i] = color
        dat["price"][i] = price
        
        
    
    dat = dat.drop(['Product'], 1)
    dat["Category"] = Category
    dat["Country"] = Country
    dat["Gender"] = Gender
        
    return(dat)

In [182]:
dat = pd.read_csv('database/balenciaga/JP/male_clothes.csv')
dat = dat.drop(['Unnamed: 0'], 1)

preprocess = balenciaga_preprocess(dat, "JP", "Ready to wear", "Male")

In [183]:
preprocess.to_csv("database/final/balen_JP_male_wear.csv", index=False)

## Merge

In [131]:
file_list = os.listdir('database/final')

In [132]:
result = pd.read_csv('database/final/'+file_list[0])
for i in file_list[1:]:
    result = result.append(pd.read_csv('database/final/'+i))

In [133]:
result = result.dropna()

In [134]:
result["Country"][result["Country"] == "KR"] = "01"
result["Country"][result["Country"] == "US"] = "02"
result["Country"][result["Country"] == "FR"] = "03"
result["Country"][result["Country"] == "JP"] = "04"

In [135]:
result = pd.DataFrame(result, columns=["pcode","brand","pname","Category","price","url","Country","Gender","image"])

In [136]:
result.rename(columns={'Category': 'category', 'Country': 'cid'}, inplace=True)

In [137]:
result.head()

,pcode,brand,pname,category,price,url,cid,Gender,image
0,54167455VO,ALEXANDER MCQUEEN,Jewelled Satchel avec araignée,Bags,1990,https://www.alexandermcqueen.com/fr/alexanderm...,03,Female,https://www.alexandermcqueen.com/63/54/5416745...
1,54167456EJ,ALEXANDER MCQUEEN,Jewelled Satchel avec araignée,Bags,1990,https://www.alexandermcqueen.com/fr/alexanderm...,03,Female,https://www.alexandermcqueen.com/63/54/5416745...
2,54167457SX,ALEXANDER MCQUEEN,Jewelled Satchel avec araignée,Bags,1990,https://www.alexandermcqueen.com/fr/alexanderm...,03,Female,https://www.alexandermcqueen.com/63/54/5416745...
3,54165576SO,ALEXANDER MCQUEEN,Jewelled Satchel,Bags,1990,https://www.alexandermcqueen.com/fr/alexanderm...,03,Female,https://www.alexandermcqueen.com/63/54/5416557...
4,54165577RW,ALEXANDER MCQUEEN,Jewelled Satchel,Bags,1990,https://www.alexandermcqueen.com/fr/alexanderm...,03,Female,https://www.alexandermcqueen.com/63/54/5416557...

In [138]:
for i in range(0,len(result)):
    if("900w" in result["image"].iloc[i]):
        dat = result["image"].iloc[i]
        dat = dat[0:dat.find("900w")-1]
        result["image"].iloc[i] = dat
        
    elif("480w" in result["image"].iloc[i]):
        dat = result["image"].iloc[i]
        dat = dat[0:dat.find("480w")-1]
        result["image"].iloc[i] = dat

In [139]:
result.to_excel('total.xlsx', index=False)

## Image down

In [140]:
image_down = result[result["cid"] == "01"]

In [141]:
for i in range(0,len(image_down)):
    image_down["image"].iloc[i] = image_down["image"].iloc[i].replace("a_g.jpg","a_f.jpg",1)

In [142]:
for i in range(0, len(image_down)):
    if(i % 100 == 0):
        print("where? ", i)
    
    pcode = str(image_down["pcode"].iloc[i])
    fullUrl = image_down["image"].iloc[i]
    req = urllib.request.Request(fullUrl, headers={'User-Agent': 'Mozilla/5.0'})
    response = urllib.request.urlopen(req).read()
    
    with open("image/"+pcode+".png", mode="wb") as f:
        f.write(response)
        
print("complete")

where?  0
where?  100
where?  200
where?  300
where?  400
where?  500
where?  600
where?  700
where?  800
where?  900
where?  1000
where?  1100
where?  1200
where?  1300
where?  1400
where?  1500
where?  1600
where?  1700
where?  1800
where?  1900
where?  2000
complete